# https://goframe.org/docs/web/server-config-file-template
server:
  address:     ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

# https://goframe.org/docs/core/glog-config
logger:
  level : "all"
  stdout: true

# https://goframe.org/docs/core/gdb-config-file
database:
  default:
    link: "mysql:root:gbaseadmin123@tcp(127.0.0.1:3306)/gbaseadmin"
    debug: true
    charset: "utf8mb4"

# JWT 配置
jwt:
  secret: "gbaseadmin-secret-key-2026"
  expire: 24  # Token 过期时间（小时）
